@use '../../globalsass.scss' as *;

.Hero{
    // background-color: yellowgreen;
    border: 1px solid black;
    height: calc(100vh - 150px);
    margin: 15px 20px;
    border-radius: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    transition: background-image 1.7s ease-in-out;
    overflow: hidden;
    background: linear-gradient(rgba(34, 34, 16, 0.658), rgba(9, 30, 9, 0.63),rgba(9, 30, 9, 0.3) );
    
    
    
    .first{
        padding: 75px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        h3{
            @include font-nunito(500);
            -webkit-text-stroke: 1px black;
            color: rgb(221, 237, 255);
             
        }
        h1{
            @include font-rye-regular(700);
            font-size: 65px;
            -webkit-text-stroke: 1px rgb(10, 9, 9);
            color: rgb(197, 227, 151);
        }
    }
    .second{
        padding: 75px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // gap: 1.2rem;
        // div{
        //     background-color: rgba(131, 125, 125, 0.488);
        //     padding: 5px 10px;
        //     border-radius: 16px;
        //     display: flex;
        //     align-items: center;
        //     gap: 2px;
        // }  

        .brand{
            display: flex;
            gap: 1rem;
            // img{
            //     height: 50px;
            //     padding: 5px 10px;
            //     border-radius: 16px;
            //     background-color: rgba(131, 125, 125, 0.488);
            // }
            div{
                background-color: rgba(131, 125, 125, 0.288);
                padding: 5px 10px;
                border-radius: 16px;
                display: flex;
                align-items: center;
                gap: 2px;
            }
        }
        p{
            @include font-nunito(600);
            font-size: 1.5rem;
            color: rgba(73, 70, 52, 0.896);
            text-shadow: 3px 3px 15px white;
        }
        .indicators{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-top: 50px;
            button{
                width: 12px;
                height: 12px;
                border: 1px solid black;
                background-color: transparent;
                border-radius: 50%;
                transition: all 0.5s linear;

                &.active{
                    border-radius: 50%;
                    width: 30px;
                    background-color: rgb(255, 245, 245);
                }

                &:hover{
                    background-color: rgba(75, 41, 41, 0.96);
                    transform: scale(1.3);
                }
            }
        }
    }
}

