@use '../../globalsass.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.light{
  background-color: white;
  color: black;
   .Navbar {
    background-color: rgb(245, 242, 242);
     .dropdown-menu{
      background-color: rgb(245, 242, 242);
    }
     .toggleNav{
      background-color: rgb(245, 242, 242);
    }
  }
}
.dark{
  background-color: rgba(27, 23, 23, 0.852);
  color: white;
  .Navbar {
    background-color: rgb(37, 23, 23);
     .dropdown-menu{
      background-color: rgb(37, 23, 23);
    }
     .toggleNav{
      background-color: rgb(37, 23, 23);
    }
  }
}

.Navbar {
  z-index: 50;
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  // height: 5rem;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  // background-color: antiquewhite;
  font-size: 1.2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.747);
  @include font-nunito(400);
  // color: rgba(0, 0, 0, 0.732);
  @include respond(lg){
    padding: 0 50px;
  }

  .navlinks {
    display: flex;
    gap: 20px;
    position: relative;
    @include respond(md){
      display: none;
    }

    .link{
      text-decoration: none;
      color: black;
    }
  }
  .dropdown{
    .dropdown-menu{
      position: absolute;
      left: 0;
      box-shadow: 3px 3px 15px black;
      // background-color: rgb(255, 255, 255,0.9);
      top: 150%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      border-radius:20px;
      span:hover{

        text-shadow: 1px 1px 10px ;
      }
    }

  }

  .auth {
    display: flex;
    gap: 20px;
    font-size: larger;
    align-items: center;
    justify-content: center;
    @include respond(md){
      display: none;
    }

    .link{
      color: black;
    }

    .search-icon {
      font-size: larger;
    }

    p {
        display: flex;
        align-items: baseline;
        gap: .3rem;
      .user-icon {
        font-size: 1.2rem;
      }
    }
    
      
    
   span{
    // background:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid rgb(60, 5, 60);
    border-radius: 50%;
    padding: 5px
   }
  
   .icon{
    color: purple;
   }

   .cartItems{
    font-size: 30px;
   }
  }
  .hamburger{
    display: none;
    @include respond(md){
      display: block;
    }
    .bar-icon{
      font-size: 25px;
    }
  }
  .toggleNav{
    display: none;
  }

  .toggleNav{

    @include respond(md){
      
    position: absolute;
    // background-color: antiquewhite;
    display: none;
    width: 50%;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
    border-bottom-left-radius: 15px;
    .toggle-dropdown-menu{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
    }
    span:hover{

        text-shadow: 1px 1px 10px ;
      }
    } 
  }
}
