@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Rye&display=swap');
//for controlling font family 

@mixin font-nunito($weight:400){
    font-family: 'Poppins';
    font-weight: $weight;
}

@mixin font-rye-regular ($weight:400){
    font-family: "Rye", serif;
    font-weight: $weight;
}
@mixin font-molle-regular-italic ($weight:400){
    font-family: "Molle", cursive;
    font-weight: $weight;
    font-style: italic
}

@mixin font-roboto($weight:400){
    font-family: "Roboto", sans-serif;
    font-weight: $weight;
}

@mixin rounded($bgColor){
     padding: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius:50%;
     background-color: $bgColor;
}


// mixin function for responsive queries

@mixin respond($breakpoint){
    @if $breakpoint == sm{
        @media (max-width:579px) {
            @content
        }
    }
    @else if $breakpoint == md{
        @media (max-width:840px) {
            @content
        }
    }
    @else if $breakpoint == lg{
        @media (max-width:992px) {
            @content
        }
    }
    @else if $breakpoint == xl{
        @media (max-width:1200px) {
            @content
        }
    }
}

@mixin mainHeading($textColor: #ffffff){
    color: $textColor;
    text-align: center;
    @include font-nunito(700);
    font-size: 85px;
}

@mixin subHeading($textColor: #ffffff){
    color: $textColor;
    text-align: center;
    @include font-nunito(600);
    text-transform: uppercase;
}

@mixin Button($bgColor:  #F3A411){
    @include font-nunito(600);
   color: White;
   background-color: $bgColor;
   padding: 8px 15px;
   border: none;
   border-radius: 5px;
}